<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
    <div th:replace="~{/cart/view :: shopping-cart}"></div>
    <div class="card mt-5" >
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Information</label>
                        <div class="form-control" id="username">[[${#request.remoteUser}]]</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label  class="form-label">Order Date</label>
                        <div class="form-control">{{order.createDate | date: 'dd-MM-yyyy' }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-floating">
                    <textarea ng-model = "order.address" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Address</label>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button
                    ng-click = "order.purchase()"
                    class="btn btn-primary">Order</button>
        </div>
    </div>

</main>
</body>
</html>